@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For coloring svg images, see https://codepen.io/sosuke/pen/Pjoqqp */
.filter-grey {
	filter: invert(84%) sepia(9%) saturate(453%) hue-rotate(177deg) brightness(84%) contrast(95%);
}
.filter-red {
    filter: invert(13%) sepia(79%) saturate(6151%) hue-rotate(358deg) brightness(103%) contrast(112%);
}
.filter-blue {
    filter: invert(8%) sepia(99%) saturate(7440%) hue-rotate(249deg) brightness(102%) contrast(142%);
}

/* https://stackoverflow.com/a/70013225 */
.clipped-hexagon {
    clip-path: url(#selected-hexagon-clip-path);
    paint-order: fill;
}
